.section {
    display: inline-block;
    width: 100%;
    scroll-margin-top: 50px; /*adjust the offset jump position*/
    padding-left: 20px;
}



#section1 {
    background-color: rgb(245, 240, 230);
}

#section3 {
    background-color: rgb(245, 240, 230);
}


#section2 h1{
    color: white;
}

#collegeLogos {
    padding-right: 10px;
}

#section2 {
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
}

#section2 p{
    color: white;
}



/* Making the Navbar */
.navbar{
    position: sticky;
    top: 0;
}


ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}


li {
    display: inline;
    float: left;
    background-color: white;
}


li a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 28px;
}


/*Change the link color to white and bg to blue on hover*/
li a:hover{
    background-color: #182b49;
    color: white;
}



p{
    font-size: 28px;
}

#ucsdLogo {
    max-width: 400px;
    padding-left: 20px;
}


/* Making the grid */
.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    padding: 0 25px;
}

.box {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow-y: scroll;

}

.box p{
    margin: 0;
}



/* Making the web page responsive */
img {
    max-width: 100%;
    height: auto;
}


/*Hides the navbar links when screen is smaller than 800px
  Note to always define @media queries after your default styles, 
  at the end of the .css file*/
@media (max-width: 800px){
    .nav, ul, li, a{
        display: none;
    }

    #ucsdLogo {
        max-width: 75%;
    }

    h1 {
        font-size: 24px;
    }

    p{
        font-size: 20px;
    }

    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }

}